source "Kconfig.zephyr"

menu "9C Nebulizer"

config NEBULIZER_LOG_LEVEL
	int "Default application log level"
	range 0 4
	default 3

config NEBULIZER_FAN_PWM_INVERTED
	bool "Fan PWM input is inverted"
	default n

endmenu
